@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--cor-01);
    box-sizing: border-box;
}

body h1 {
    font-size: 3em;
    text-align: center;
    color: #20C3D0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.850);
    margin-bottom: 20px;
}

main {
    padding: 10px;
}

.sites-mobile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 10px;
}

.sites-mobile h2 {
    font-size: 2em;
    text-align: center;
}

.sites-mobile p {
    text-align: justify;
}

.sites-mobile a {
    text-align: center;
    text-decoration: none;
    color: #20C3D0;
    font-weight: bold;
    font-size: 1.5em;
}

.cor-cv {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.600);
}

.cor-lp {
    color: #6A4E36;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.600);
    margin-top: 160px;
}

.cor-wtc {
    color: #FFC322;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.600);
    margin-top: 160px;
}

.cor-acai {
    color: #3A004F;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.600);
    margin-top: 160px;
}

.cor-hbg {
    color: #FAAB0F;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.600);
    margin-top: 160px;
}

.botao-voltar img {
    width: 50px;
    height: 50px;
    margin-top: 160px;
}

.sites {
    display: none;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 10px;
    height: 100%;
}

.sites iframe {
    background-color: black;
    width: 290px;
    height: 500px;
    border: 1px solid black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer strong:hover {
    color: #20C3D0;
    transition: 0.2s;
    cursor: default;
}